{% extends "base.html.twig" %}

{% block body %}
<<<<<<< HEAD
	<h1 class="text-center mt-4">List of Category</h1>
	<table class="table align-middle mb-0 bg-white">
		<thead class="bg-light">
			<tr>
				<th class="text-center">Category</th>
				<th class="text-center">Quantity</th>
				<th class="text-center">Manufactor</th>
				<th class="text-center">Category</th>
			</tr>
		</thead>
		<tbody>
			{# {% for product in products %} #}
			<tr>
				<td>
					<div class="d-flex align-items-center">
						<img src="" style="width: 45px; height: 45px" class="rounded-circle"/>
						<div class="ms-3">
							<p class="fw-bold mb-1">John Doe</p>
						</div>
					</div>
				</td>
				<td>
					<p class="fw-normal mb-1 text-center">1</p>
				</td>
				<td>
					<p class="fw-normal mb-1 text-center">Asus</p>
				</td>
				<td class="text-center">Laptop</td>
				<td class="text-center">
					<a class="text-decoration-none" href="#">
						<img src="{{ asset('images/detail.png') }}" width="40" height="40">
					</a>
					<a class="text-decoration-none" href="#">
						<img src="{{ asset('images/edit.png') }}" width="40" height="40">
					</a>
					<a class="text-decoration-none" href="#" onclick="return confirm('Are you sure to delete this book ?');">
						<img src="{{ asset('images/delete.png') }}" width="40" height="40">
					</a>
				</td>
			</tr>
		</tbody>
		{# {% endfor %} #}
=======
	<table class="table align-middle mb-0 bg-white">
		<thead class="bg-light">
			<tr>
				<th colspan="3">
					<h1 class="text text-primary"></h1>
				</th>
			</tr>
			<tr>
				<th>ID</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for category in categories %}
					<tr>
						<td>{{category.id}}</td>
						<td>{{category.name}}</td>
						<td>
							<button type="button" class="btn btn-link btn-sm btn-rounded">
								<a href="{{ path('category_detail', {'id' : category.id}) }}">
									<img src="{{ asset('images/detail.png') }}" width="40" height="40">
								</a>
							</button>
							<button type="button" class="btn btn-link btn-sm btn-rounded">
								<a href="{{ path('category_edit', {'id' : category.id}) }}">
									<img src="{{ asset('images/edit.png') }}" width="40" height="40">
								</a>
							</button>
							<button type="button" class="btn btn-link btn-sm btn-rounded">
								<a href="{{ path('category_delete', {'id' : category.id}) }}">
									<img src="{{ asset('images/delete.png') }}" width="40" height="40">
								</a>
							</button>
						</td>
					</tr>
				{% endfor %}
			</tr>
		</tbody>
>>>>>>> 93bc8377964a8e5e5c269f676dbed7a51ab8ec65
	</table>
{% endblock %}
