{% extends "base.html.twig" %}

{% block body %}
	<table class="table align-middle mb-0 bg-white">
		<thead class="bg-light">
			<tr>
				<th colspan="3">
					<h1 class="text text-primary"></h1>
				</th>
			</tr>
			<tr>
				<th>ID</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for category in categories %}
					<tr>
						<td>{{category.id}}</td>
						<td>{{category.name}}</td>
						<td>
							<button type="button" class="btn btn-link btn-sm btn-rounded">
								<a href="{{ path('category_detail', {'id' : category.id}) }}">
									<img src="{{ asset('images/detail.png') }}" width="40" height="40">
								</a>
							</button>
							<button type="button" class="btn btn-link btn-sm btn-rounded">
								<a href="{{ path('category_edit', {'id' : category.id}) }}">
									<img src="{{ asset('images/edit.png') }}" width="40" height="40">
								</a>
							</button>
							<button type="button" class="btn btn-link btn-sm btn-rounded">
								<a href="{{ path('category_delete', {'id' : category.id}) }}">
									<img src="{{ asset('images/delete.png') }}" width="40" height="40">
								</a>
							</button>
						</td>
					</tr>
				{% endfor %}
			</tr>
		</tbody>
	</table>
{% endblock %}
