{% extends "base.html.twig" %}

{% block body %}
<<<<<<< HEAD
<h1 class="text-center mt-4">List of Manufactor</h1>
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
        {% for product in manufacturer.products %}
    <tr>
          <td>
            <div class="d-flex align-items-center">
              <a href="{{ path('product_detail', {'id' : product.id}) }}">
              <img
                  src="{{ product.image }}"
                  style="width: 45px; height: 45px"
                  class="rounded-circle"
                  />
              </a>
              <div class="ms-3">
                <a href="{{ path('product_detail', {'id' : product.id}) }}"><p class="fw-bold mb-1">{{ product.name }}</p></a>
                <a href="{{ path('manufacturer_detail', {'id' : product.manufacturer.id}) }}"><p class="text-muted mb-0">{{ product.manufacturer.name }}</p></a>
              </div>
            </div>
          </td>
          <td>
          <p class="fw-normal mb-1">{{ (product.category | first).name }}</p>
          {% for category in product.category | slice(1) %}
            <p class="text-muted mb-0">{{category.name}}</p>
          {% endfor %}
          </td>
          <td>
            <span class="badge badge-success rounded-pill d-inline">{{ product.quantity }}</span>
          </td>
          <td>$ {{ product.price }}</td>
          <td>
            <button type="button" class="btn btn-link btn-sm btn-rounded">
              <a href="{{ path('product_detail', {'id' : product.id}) }}">Detail</a>
            </button>
            <button type="button" class="btn btn-link btn-sm btn-rounded">
              <a href="{{ path('product_edit', {'id' : product.id}) }}">Edit</a>
            </button>
            <button type="button" class="btn btn-link btn-sm btn-rounded">
              <a href="{{ path('product_delete', {'id' : product.id}) }}">Delete</a>
            </button>
          </td>
    </tr>
        {% endfor %}
  </tbody>
</table>
{% endblock %}
=======
	<table class="table align-middle mb-0 bg-white">
		<thead class="bg-light">
			<tr>
				<th>Name</th>
				<th>Category</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for product in manufacturer.products %}
				<tr>
					<td>
						<div class="d-flex align-items-center">
							<a href="{{ path('product_detail', {'id' : product.id}) }}">  
								<img src="{{ product.image }}" style="width: 45px; height: 45px" class="rounded-circle"/>
							</a>
							<div class="ms-3">
								<a href="{{ path('product_detail', {'id' : product.id}) }}">
									<p class="fw-bold mb-1">{{ product.name }}</p>
								</a>
								<a href="{{ path('manufacturer_detail', {'id' : product.manufacturer.id}) }}">
									<p class="text-muted mb-0">{{ product.manufacturer.name }}</p>
								</a>
							</div>
						</div>
					</td>
					<td>
						<p class="fw-normal mb-1">{{ (product.category | first).name }}</p>
						{% for category in product.category | slice(1) %}
							<p class="text-muted mb-0">{{category.name}}</p>
						{% endfor %}
					</td>
					<td>
						<span class="badge badge-success rounded-pill d-inline">{{ product.quantity }}</span>
					</td>
					<td>$
						{{ product.price }}</td>
					<td>
						<button type="button" class="btn btn-link btn-sm btn-rounded">
							<a href="{{ path('product_detail', {'id' : product.id}) }}">
								<img src="{{ asset('images/detail.png') }}" width="40" height="40">
							</a>
						</button>
						<button type="button" class="btn btn-link btn-sm btn-rounded">
							<a href="{{ path('product_edit', {'id' : product.id}) }}">
								<img src="{{ asset('images/edit.png') }}" width="40" height="40">
							</a>
						</button>
						<button type="button" class="btn btn-link btn-sm btn-rounded">
							<a href="{{ path('product_delete', {'id' : product.id}) }}">
								<img src="{{ asset('images/delete.png') }}" width="40" height="40">
							</a>
						</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
>>>>>>> 93bc8377964a8e5e5c269f676dbed7a51ab8ec65
