{% extends "base.html.twig" %}

{% block body %}
	<h1 class="text-center mt-4 mb-4">List of Manufactors</h1>
	<table class="table align-middle mb-0 bg-white">
		<table class="table align-middle mb-0 bg-white">
		<thead class="bg-light">
			<tr class="text-center">
				<th>Name</th>
				<th>Address</th>
				<th>Contact</th>
				<th>Actions</th>
			</tr>
			</tr>			
		</thead>
		<tbody>
			{# {% for product in products %} #}
			<tr>
				{% for manufacturer in manufacturers %}
					<tr class="text-center">
						<td><a href="{{ path('manufacturer_detail', {'id' : manufacturer.id}) }}">{{manufacturer.name}}</a></td>
						<td>{{manufacturer.address}}</td>
						<td>{{manufacturer.contact}}</td>
						<td>
							<button type="button" class="btn btn-link btn-sm btn-rounded">
								<a href="{{ path('manufacturer_detail', {'id' : manufacturer.id}) }}">
									<img src="{{ asset('images/detail.png') }}" width="40" height="40">
								</a>
							</button>
							<button type="button" class="btn btn-link btn-sm btn-rounded">
								<a href="{{ path('manufacturer_edit', {'id' : manufacturer.id}) }}">
									<img src="{{ asset('images/edit.png') }}" width="40" height="40">
								</a>
							</button>
							<button type="button" class="btn btn-link btn-sm btn-rounded">
								<a href="{{ path('manufacturer_delete', {'id' : manufacturer.id}) }}">
									<img src="{{ asset('images/delete.png') }}" width="40" height="40">
								</a>
							</button>
						</td>
					</tr>
				{% endfor %}
			</tr>
		</tbody>
		{# {% endfor %} #}
	</table>
{% endblock %}
