{% extends "base.html.twig" %}

{% block body %}
	<table class="table align-middle mb-0 bg-white">
		<thead class="bg-light">
			<tr>
				<th class="text-center">Name</th>
				<th class="text-center">Category</th>
				<th class="text-center">Quantity</th>
				<th class="text-center">Price</th>
				<th class="text-center">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td>
						<div class="d-flex align-items-center">
							<a href="{{ path('product_detail', {'id' : product.id}) }}">
								<img src="{{ product.image }}" style="width: 45px; height: 45px" class="rounded-circle"/>
							</a>
							<div class="ms-3">
								<a href="{{ path('product_detail', {'id' : product.id}) }}">
									<p class="fw-bold mb-1">{{ product.name }}</p>
								</a>
								<a href="{{ path('manufacturer_detail', {'id' : product.manufacturer.id}) }}">
									<p class="text-muted mb-0">{{ product.manufacturer.name }}</p>
								</a>
							</div>
						</div>
					</td>
					<td>
						{# Category #}
						<p class="fw-normal mb-1 text-center">{{ (product.category | first).name }}</p>
						{% for category in product.category | slice(1) %}
							<p class="text-muted mb-0 text-center">{{category.name}}</p>
						{% endfor %}
						{# Category #}
					</td>
					<td class="text-center">
						<p class="fw-normal">{{ product.quantity }}</p>
					</td>
					<td class="text-center">$
						{{ product.price }}</td>
					<td class="text-center">
						<button type="button" class="btn btn-link btn-sm btn-rounded">
							<a href="{{ path('product_detail', {'id' : product.id}) }}">
								<img src="{{ asset('images/detail.png') }}" width="40" height="40">
							</a>
						</button>
						<button type="button" class="btn btn-link btn-sm btn-rounded">
							<a href="{{ path('product_edit', {'id' : product.id}) }}">
								<img src="{{ asset('images/edit.png') }}" width="40" height="40">
							</a>
						</button>
						<button type="button" class="btn btn-link btn-sm btn-rounded">
							<a href="{{ path('product_delete', {'id' : product.id}) }}">
								<img src="{{ asset('images/delete.png') }}" width="40" height="40">
							</a>
						</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
