{% extends "base.html.twig" %}

{% block body %}

	<div class="container py-5">
		<h1>All of products</h1>
		<div class="row">
		{% for product in products %}			
			<div class="col-md-4">
				<div class="card mb-4 product-wap rounded-0">
					<div class="card rounded-0">
						<img class="card-img rounded-0 img-fluid" src="{{product.image}}">
					</div>
					<div class="text-center card-body">
						<a href="{{ path('product_detail', {'id' : product.id}) }}" class="h3 text-decoration-none">{{product.name}}</a>	
						{% if product.quantity == 0 %}
							<p class="text-center mb-0">Out of Stock</p>
						{% else %}
							<p class="text-center mb-0">{{product.quantity}}</p>
						{% endif %}
						<p class="text-center mb-0">$ {{product.price}}</p>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>		
	</div>

{% endblock %}
